<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="css/main.css">
		</head>
		<body>
<!-- NAV !-->

			<nav>
	    		<ul>
	        		<li><a href="/portfolio/">Home</a></li>
		        	<li><a href="/portfolio/about">About</a></li> 
	        		<li><a href="/portfolio/writing">Writing</a></li>
	        		<li><a href="/portfolio/product">Product</a></li>
	    		</ul>
				<img src="moon_name.png">
	
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
<!-- FOOTER !-->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kristen.poli@gmail.com">email</a></li>
	        		<li><a href="https://linkedin.com/kpcontently">linkedin.com/kpcontently</a></li>
				</ul>
			</footer>
		</body>
	</html>
